*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;

}
header{
    background-color: #363131;
}
#header-logo{

    width:120px;
    height:120px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
#header-msg{
    font-size: 25px;
    color: white;
}
#btnOne{
    background-color:#fc7d1c;
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#tableHead{
    background-color:#fc7d1c;
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #1984bc;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}